<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MobileTestSuite">
    <test name="AllMobileTests">
        <classes>
            <class name="com.example.base.TestSuiteSetup"/>
            <class name="com.example.tests.WikipediaSearchTest"/>
        </classes>
    </test>
</suite>